body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DDE6ED;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

p {
    font-size: 18px;
}

.button-group button {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    height: 80px;
    width: 160px;
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #6C8286;
}

.header {
    min-height: 100px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.scoreboard {
    display: flex;
    gap: 240px;
}

.button-group {
    display: flex;
    gap: 32px;
}

.footer {
    min-height: 50px;
}

.header,
.footer {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark,
button {
    background-color: #092635;
}